html{
  height: 100%;
}
body{
  height: 100%;
}
body, button {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.title {
  font-family: Ferry, sans-serif;
}

.wrapper {
  max-width: 1340px;
  margin: 0 auto;
}

.notfoundpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 250px 0;
}

@media (max-width: 1370px) {
  .wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 335px) {
  .wrapper {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 355px) {
  .wrapper {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 340px) {
  .wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}