.header {
    padding: 50px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #EBE6D6;
}

.header .screen {
    display: flex;
    align-items: center;
    position: relative;
}

.group,
.group-2 {
    display: flex;
    justify-content: center;
}

.element_1,
.element {
    font-size: 18px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #EBE6D6;
    color: #090909;
    text-align: center;
    margin: 10px;
    font-family: 'PT Astra Sans', Arial;
}

.nav-logo {
    height: auto;
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    margin-top: -50px;
    left: 30px;
}

.group-2 {
    display: flex;
}

.button-auth,
.button-auth-link {
    width: 150px;
    height: 40px;
    font-size: 14px;
    display: inline-block;
    background-color: #163E6C;
    margin-right: 100px;
}

.text-wrapper {
    width: 150px;
    height: 40px;
    top: 20px;
    position: absolute;
    right: 200px;
    color: #EBE6D6;
}

@media (max-width: 768px) {
    .header {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    .header .screen {
        margin-top: 40px;
    }

    .header .group {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .header .element_1,
    .header .element {
        width: 100%;
    }

    .header .element_1 {
        margin-bottom: 10px;
    }

    .nav-logo {
        width: 150px;
    }

    .button-auth,
    .button-auth-link {
        width: 150px;
        height: 40px;
        font-size: 14px;

    }
}
