.header {
    height: 93px;
    font-size: 14px;
    line-height: 17px;
    background-color: #163E6C
}
.element_1{

}
.header .screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header .group {
    display: flex;
    align-items: center;
}

.screen .SGN {
    height: 93px;
    left: 60px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 141px;
}

.screen .group {
    height: 17px;
    left: 602px;
    position: absolute;
    top: 38px;
    width: 242px;
}

.screen .text-wrapper {
    color: #000000;
    font-family:PT-Astra-Sans_Bold;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.14px;
    line-height: normal;
    position: absolute;
    top: 0;
}

.screen .div {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    left: 106px;
    letter-spacing: 0.14px;
    line-height: normal;
    position: absolute;
    top: 0;
}

.screen .text-wrapper-2 {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    left: 209px;
    letter-spacing: 0.14px;
    line-height: normal;
    position: absolute;
    top: 0;
}

.screen .group-2 {
    height: 26px;
    left: 1129px;
    position: absolute;
    top: 33px;
    width: 253px;
}

.screen .overlap-group-wrapper {
    height: 26px;
    left: 186px;
    position: absolute;
    top: 0;
    width: 67px;
}

.screen .overlap-group {
    background-color: #7ce3e1;
    border-radius: 5px;
    height: 26px;
    position: relative;
    width: 65px;
}

.screen .rectangle {
    background-color: #029491;
    height: 26px;
    left: 164px;
    opacity: 0.6;
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    width: 2px;
}

.data-1 {
    font-size: 14px;
    color: #070707;
    background-color: #dad3d3;
    border-radius: 5px;
    left: 300px;
    opacity: 0.4;
    position: relative;
    top: 20px;
    width: 175px;
    line-height: 1;
}

@media only screen and (max-width: 768px) {
    .screen .SGN {
        left: 30px;
        top: 10px;
        width: 100px;
    }

    .screen .group {
        flex-direction: column;
        align-items: flex-start;
        left: 30px;
        top: 70px;
        width: auto;
    }

    .screen .div {
        left: 0;
        margin-bottom: 10px;
    }

    .screen .text-wrapper-2 {
        left: 0;
        margin-bottom: 10px;
    }

    .screen .group-2 {
        flex-direction: column;
        align-items: flex-start;
        left: 30px;
        top: 170px;
        width: auto;
    }

    .screen .overlap-group-wrapper {
        left: 0;
        margin-bottom: 10px;
    }

    .screen .rectangle {
        left: 0;
    }

    .data-1 {
        right: auto;
        top: 230px;
        width: auto;
    }
}

@media only screen and (max-width: 480px) {
    .screen .group,
    .screen .group-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end; /* Align links to the right */
        /* Add the following property to position to the right */
        right: 0;
        position: absolute;
    }

    .screen .div,
    .screen .text-wrapper-2 {
        margin-right: 0;
        margin-bottom: 10px;
        /* Add the following property to position to the right */
        right: 0;
    }
}