.header {
    padding: 60px;
    position: relative;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    background-color: #32629a
}
.header .element_1 {
    font-size:18px;
    width: 800px; /* задайте ширину элемента */
    height: 50px; /* задайте высоту элемента */
    border-radius: 10px; /* задайте радиус скругления углов */
    background-color: #3f63ad; /* задайте цвет фона элемента */
    color: #090909; /* задайте цвет текста элемента */
    text-align: center; /* выравнивание текста по центру */
    /*margin:auto; !* автоматическое выравнивание элемента по центру страницы *!*/
    position: absolute;
    top: 65px;
    left: 350px;

}
.element {
    font-size:18px;

    width: 800px; /* задайте ширину элемента */
    height: 50px; /* задайте высоту элемента */
    border-radius: 10px; /* задайте радиус скругления углов */
    background-color: #3f63ad; /* задайте цвет фона элемента */
    color: #090909; /* задайте цвет текста элемента */
    text-align: center; /* выравнивание текста по центру */
    /*margin:auto; !* автоматическое выравнивание элемента по центру страницы *!*/
    position: absolute;
    top: 10px;
    left: 350px;

}
.button-auch{
    width: 200px; /* задайте ширину элемента */
    height: 40px;
    position: absolute;
    top:50px;
    right: 20px;
    color:  #163E6C;

}

.header .screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header .group {
    display: flex;
    align-items: center;
}

.screen .nav-logo {
    height: 150px;
    left: 80px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 300px;
}


/*.screen .div {*/
/*    color: #000000;*/
/*    font-size: 14px;*/
/*    font-weight: 400;*/
/*    left: 106px;*/
/*    letter-spacing: 0.14px;*/
/*    line-height: normal;*/
/*    position: absolute;*/
/*    top: 0;*/
/*}*/

