
.container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
    font-family: 'PT Astra Sans', sans-serif;

    margin-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top:400px;
}


.table-container {
    margin-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;

    font-family: 'PT Astra Sans', sans-serif;


}


/*.header {*/
/*    text-align: center;*/
/*    margin-bottom: 20px;*/
/*}*/


.table-data {
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

@media screen and (min-width: 1920px) {
    .container {
        max-width: 1800px;
    }
}

@media screen and (min-width: 1366px) {
    .container {
        max-width: 1366px;
    }
}

@media screen and (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

@media screen and (min-width: 360px) and (max-width: 640px) {
    .container {
        max-width: 360px;
    }
}

