.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: -230px;
    max-width: 1800px;
    margin-left: 50px;
    margin-right: 50px;
}

.table-container {
    width: calc(100% - 100px);
}

.category-company,
.category-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Added shadow */
}

h1 {
    font-size: 20px
}

.category-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Added shadow */
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.button-to,
.button-rec,
.button-gen {
    margin: 0 20px;
    font-size: 18px;
    height: 70px;
    width: 500px;
    background-color: #163E6C;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button-to.active,
.button-rec.active,
.button-gen.active {
    margin: 0 20px;
    font-size: 18px;
    height: 70px;
    width: 500px;

    background-color: #011934;
    color: #ffffff;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.additional-text {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 1920px) {
    .container {
        margin-left: 100px;
        margin-right: 100px;
        padding: 40px;
    }
}

@media (max-width: 1536px) {
    .button-to,
    .button-rec,
    .button-gen {
        width: 400px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1366px) {
    .container {
        margin-left: 40px;
        margin-right: 40px;
        padding: 30px;
    }

    .button-to,
    .button-rec,
    .button-gen {
        width: 300px;
    }
}

@media (max-width: 360px) {
    .container {
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }

    .button-to,
    .button-rec,
    .button-gen {
        width: 100%;
    }
}