@import url('https://fonts.googleapis.com/css2?family=PT+Astra+Sans:wght@400;700&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.table-container {
    margin-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    overflow-y: auto;

}

/*.customTable {*/
/*    width: 90%;*/
/*    border-collapse: collapse;*/
/*    background-color: #625f5f;*/
/*    border: 3px solid #070707;*/
/*    font-family: 'PT Astra Sans', sans-serif;*/
/*}*/

.table th {
    background-color: #ffffff;
    border: 3px solid #090909;
    padding: 10px;
    text-align: left;
}

.table td {
    border: 2px solid #090909;
    padding: 8px;

}

. button {
    background-color: #f6f3f3;
    color: #151414;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 80%;
    height: 80%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
